:root {
  /* Colors */
  --text-color: #fafafa;

  /* Font Sizes */
  --full-size: 8rem;
  --three-quarter-size: 6rem;
  --half-size__mobile-ready: 4rem;
  --quarter-size: 2.5rem;

  /* Container Sizes */
  --fs-head-container: calc(var(--full-size) + 1rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* * Header */

.header {
  background-color: #222222;
  height: 100vh;
  display: grid;
}

/* header:before {
  content: "";
  position: absolute;
  height: 0.1em;
  width: 100%;
  background: radial-gradient(closest-side, #ff5a5a, #860000, #ff0000);
  background-size: 200% 100%;
  bottom: -0.1em;
} */

/* * Nav */

.blog-nav {
  display: contents;
}

.hamburger {
  margin: 0 0 0 40px;
  font-size: 2rem;
  line-height: 3.5rem;
  display: none;
  transition: all 0.125s ease-in-out;
}

#toggle {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 2rem;
  background-color: rgba(0, 0, 0, 20%);
  backdrop-filter: blur(10px);
  border-radius: 0 0 20px 20px;
  /* box-shadow: 0 0 10px 10px rgba(0, 0, 0, 20%); */
  padding: 0;
}

.nav-item {
  list-style: none;
  padding: 1.5rem 1.5rem;
  font-size: 1.25rem;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav-item a:before {
  content: "";
  position: absolute;
  height: 0.1em;
  width: 100%;
  background: linear-gradient(
    to right,
    #ff0000,
    #fe9000,
    #ffc320,
    #fe9000,
    #ff0000
  );
  background-size: 200% 100%;
  bottom: -0.1em;
  transition: 0.75s;
}

a:hover::before {
  background-position: 100% 0;
}

.header-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

/* TODO fix blog header, should not be dead center of page. Slightly below nav bar */

.blog-header {
  display: inline-block;
}

.wrapper {
  box-sizing: content-box;
  height: var(--fs-head-container);
  overflow: hidden;
}

.animated {
  display: block;
  /* border: 1px solid orange; */
  font-size: var(--full-size);
  animation: spin_words 7.5s infinite;
}

h1 {
  font-size: var(--full-size);
}

h2 {
  font-size: 4rem;
  padding: 0 0 4rem 0;
}

h3 {
  font-size: 1.75rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.gradient-divider {
  width: 100%;
  height: 2px;
  background: radial-gradient(closest-side, #860000, #ff0000, #860000);
  box-shadow: 0px 0px 25px 2px #860000;
}

/* * About me */

.about-me {
  background-color: #2d2d2d;
  /* height: 75vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.about-me h2 {
  text-align: left;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 2rem;
  max-width: 60%;
  /* height: 100vh; */
  margin: 10rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.about-me_img {
  width: 30rem;
  border-radius: 100%;
}

.text-wrap {
  padding: 0 0 0 2rem;
  align-items: center;
}

.about-me_content {
  font-size: 1.5rem;
  width: 40ch;
}

.icon-wrapper {
  text-align: center;
  scale: 2;
}

.icon {
  cursor: pointer;
  background: -webkit-linear-gradient(#ff0000, #860000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  * Portfolio */

.portfolio {
  background-color: #222222;
  margin: 7.5rem 4rem;
}

.portfolio .flex-container {
  gap: 2rem;
}

/* .portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0; 
} */

.portfolio-item:hover {
  cursor: pointer;
}

.card-gradient {
  background: radial-gradient(#ff0000, #860000, #ff0000, #860000);
  box-shadow: 0px 0px 25px 1px #860000;
  padding: 2px;
  margin: 2rem 0;
  border-radius: 20px;
  height: 55vh;
}

.card-container {
  text-align: center;
  transition: 1s;
  margin: 1rem 0;
}

.card-container:hover {
  scale: 1.05;
}

.card {
  background: #222222;
  border-radius: 20px;
  transition: 1s;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.card::-webkit-scrollbar {
  width: 10px;
}

.card::-webkit-scrollbar-track {
  background: #222222;
  border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
  background: #860000;
  border-radius: 20px;
}

.card::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

.card-container {
  text-decoration: none;
  color: #d0d0d0;
  font-size: 1rem;
  transition: color 1s;
  padding: 2rem;
  text-align: center;
}

.card a:hover,
.card a:focus {
  text-decoration: underline;
  text-decoration-color: #860000;
  color: #fafafa;
}

.portfolio-img {
  width: 100%;
  /* height: 100%; */
  border-radius: 20px;
  object-position: top;
}

.card-container .portfolio-links {
  color: white;
  text-decoration: none;
  transition: 1s;
}

.portfolio-links:hover,
.portfolio-links:focus {
  color: #ff0000;
  text-decoration: underline;
  text-decoration-color: white;
}

/* * Downloads */

#downloads {
  background-color: #2d2d2d;
}

.download-link {
  color: white;
  text-decoration: none;
  transition: 1s;
}

.download-link:hover,
.download-link:focus {
  color: #ff0000;
  text-decoration: underline;
  text-decoration-color: white;
}

/* * Footer */

.footer {
  background-color: #1b1b1b;
  /* HEIGHT TEMPORARY */
  height: 25vh;
  /* HEIGHT TEMPORARY */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: inline-block;
  margin: 0 1rem;
}

footer a {
  text-decoration: none;
}

footer .icon-wrapper {
  font-size: 1rem;
}

/* ~ Media Queries */

@media screen and (max-width: 1239px) {
  /* Header Query */
  h1 {
    font-size: var(--three-quarter-size);
  }

  .wrapper {
    height: calc(var(--three-quarter-size) + 1rem);
  }

  /* About Me Query */
  .flex-container {
    flex-direction: column;
  }

  .text-wrap h2 {
    text-align: center;
    padding-top: 1em;
  }
}

@media screen and (max-width: 700px) {
  /* Broad Queries */
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  /* Nav Queries */
  .hamburger {
    color: var(--text-color);
    display: block;
    cursor: pointer;
    width: 30px;
    position: fixed;
    z-index: 2;
  }

  #toggle:checked + .nav-list {
    display: block;
  }

  .nav-list {
    text-align: center;
    flex-direction: column;
    display: none;
    padding: 5%;
    width: 100%;
    right: 0;
    z-index: 1;
  }

  .nav-list a {
    width: 100%;
    display: block;
    margin: 0;
  }

  .nav-item a::before {
    display: none;
  }

  /* Mobile Header Query */
  h1 {
    font-size: var(--half-size__mobile-ready);
  }

  .wrapper {
    height: calc(var(--half-size__mobile-ready) + 1rem);
  }

  .about-me_img {
    width: 20rem;
  }

  .about-me_content {
    font-size: 1.375rem;
    width: 30ch;
  }

  .text-wrap {
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  /* Broad Queries */
  h2 {
    font-size: 2.5rem;
  }

  /* Header Query */
  h1 {
    font-size: var(--quarter-size);
  }

  .wrapper {
    height: calc(var(--quarter-size) + 1rem);
  }

  /* About Me Queries */
  .about-me_content {
    width: 25ch;
  }
}
